body {
  background-image: linear-gradient(
    rgb(98, 155, 246),
    rgb(238, 33, 200),
    rgb(64, 8, 120)
  );
  background-repeat: no-repeat;
}
.card {
  top: 20px;
  font-style: "./Fonts/Audiowide-Regular.ttf";
  font-weight: bold;
}
.game {
  display: none;
  color: rgb(217, 244, 44);
}
